# Stellar Testnet RPC ve Ağ Yapılandırması
RPC_URL="https://soroban-testnet.stellar.org"
NETWORK_PASSPHRASE="Test SDF Network ; September 2015"

# TriggerVault Sözleşme Adresi (Testnet dağıtımından sonra burası güncellenir)
VAULT_CONTRACT_ID=CAVF2IT2KTOES576A2WNIIQVIBNHWVGMSIRE55XFJGB6WD3R4HWP2INT

# Keeper Cüzdanının Gizli Anahtarı (S...)
KEEPER_SECRET_KEY="SDUMMYKEYAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"

# Bot Tarama Sıklığı (milisaniye)
POLL_INTERVAL_MS=5000
